.Tag {
    .tagNavLink {
        font-size: 1.4em;
        color: #616161;
        margin: 0 10px 0 10px;
        display: inline-block;
    }
    .tagNavLink:hover {
        color: #7ef9ff;
        font-size: 2em;
    }
}
