.TopNavBar {
    width: 100vw;
    height: 60px;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 0;

    .container {
        width: 100%;
        margin: 10px 30px 10px 30px;

        .floatLeft {
            float: left!important;

            .title {
                font-size: 20px;
                text-shadow: 0.1rem 0.1rem 0.2rem;
            }
        }

        .floatRight {
            float: right!important;
        }

        .topRouter {
            font-size: 14px;
            display: flex;
            .menusItem {
                transition: all 100ms ease-in-out;
                animation: show 0.1s;
                .menuBtn {
                    margin: 0 10px 0 10px;
                }
            }

            .menusItem :hover {
                color: #80c8f8;
                transition: all 100ms ease-in-out;
                animation: show 0.1s;
            }
        }
    }
}

.navColorWhite {
     .title, .menuBtn{
         color: White;
     }
 }
.navColorBlack {
    background-color: rgba(255, 255, 255, .6);
    .title, .menuBtn{
        color: black;
    }
}

.navBarHide {
    transform: translateY(-60px);
}

.navBarShow {
    transform: translateY(0);
}