.Banner {
    width: 100%;
    height: 350px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    .BannerTitle {
        font: bold 60px arial;
        color: white;
    }
}